/*.transition(@d) {
    -webkit-transition-duration: @d;
    transition-duration: @d;
}
.delay(@d) {
    -webkit-transition-delay: @d;
    transition-delay: @d;
}
.transform(@t) {
    -webkit-transform: @t;
    transform: @t;
}
.transform-origin(@to) {
    -webkit-transform-origin: @to;
    transform-origin: @to;
}
.translate3d(@x:0, @y:0, @z:0) {
    -webkit-transform: translate3d(@x,@y,@z);
    transform: translate3d(@x,@y,@z);
}
.animation(@a) {
    -webkit-animation: @a;
    animation: @a;
}
.border-box(){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-shadow(@bs) {
    -webkit-box-shadow: @bs;
    box-shadow: @bs;
}
.animation-name(@name) {
  -webkit-animation-name: @name;
     -moz-animation-name: @name;
          animation-name: @name;
}
.animation-duration(@duration) {
  -webkit-animation-duration: @duration;
     -moz-animation-duration: @duration;
          animation-duration: @duration;
}
.animation-direction(@direction) {
  -webkit-animation-direction: @direction;
     -moz-animation-direction: @direction;
          animation-direction: @direction;
}
*/
html {
  font-size: 20px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333333px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #3d4145;
  background: #eee;
  overflow: hidden;
}
a,
input,
textarea,
select,
button {
  outline: 0;
}
p {
  margin: 1em 0;
}
a {
  color: #0894ec;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #0a8ddf;
}
.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eee;
  z-index: 2000;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.bar-nav ~ .content {
  top: 2.2rem;
}
.bar-header-secondary ~ .content {
  top: 4.4rem;
}
.bar-footer ~ .content {
  bottom: 2.2rem;
}
.bar-footer-secondary ~ .content {
  bottom: 4.4rem;
}
.bar-tab ~ .content {
  bottom: 2.5rem;
}
.bar-footer-secondary-tab ~ .content {
  bottom: 4.7rem;
}
.content-padded {
  margin: 0.5rem;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* === Grid === */
.row {
  overflow: hidden;
  margin-left: -4%;
}
.row > [class*="col-"],
.row > [class*="tablet-"] {
  box-sizing: border-box;
  float: left;
}
.row.no-gutter {
  margin-left: 0;
}
.row .col-100 {
  width: 96%;
  margin-left: 4%;
}
.row.no-gutter .col-100 {
  width: 100%;
  margin: 0;
}
.row .col-95 {
  width: 91%;
  margin-left: 4%;
}
.row.no-gutter .col-95 {
  width: 95%;
  margin: 0;
}
.row .col-90 {
  width: 86%;
  margin-left: 4%;
}
.row.no-gutter .col-90 {
  width: 90%;
  margin: 0;
}
.row .col-85 {
  width: 81%;
  margin-left: 4%;
}
.row.no-gutter .col-85 {
  width: 85%;
  margin: 0;
}
.row .col-80 {
  width: 76%;
  margin-left: 4%;
}
.row.no-gutter .col-80 {
  width: 80%;
  margin: 0;
}
.row .col-75 {
  width: 71.00000000000001%;
  margin-left: 4%;
}
.row.no-gutter .col-75 {
  width: 75%;
  margin: 0;
}
.row .col-66 {
  width: 62.66666666666666%;
  margin-left: 4%;
}
.row.no-gutter .col-66 {
  width: 66.66666666666666%;
  margin: 0;
}
.row .col-60 {
  width: 55.99999999999999%;
  margin-left: 4%;
}
.row.no-gutter .col-60 {
  width: 60%;
  margin: 0;
}
.row .col-50 {
  width: 46%;
  margin-left: 4%;
}
.row.no-gutter .col-50 {
  width: 50%;
  margin: 0;
}
.row .col-40 {
  width: 36%;
  margin-left: 4%;
}
.row.no-gutter .col-40 {
  width: 40%;
  margin: 0;
}
.row .col-33 {
  width: 29.333333333333332%;
  margin-left: 4%;
}
.row.no-gutter .col-33 {
  width: 33.333333333333336%;
  margin: 0;
}
.row .col-25 {
  width: 21%;
  margin-left: 4%;
}
.row.no-gutter .col-25 {
  width: 25%;
  margin: 0;
}
.row .col-20 {
  width: 16%;
  margin-left: 4%;
}
.row.no-gutter .col-20 {
  width: 20%;
  margin: 0;
}
.row .col-15 {
  width: 10.999999999999998%;
  margin-left: 4%;
}
.row.no-gutter .col-15 {
  width: 15%;
  margin: 0;
}
.row .col-10 {
  width: 6%;
  margin-left: 4%;
}
.row.no-gutter .col-10 {
  width: 10%;
  margin: 0;
}
.row .col-5 {
  width: 1%;
  margin-left: 4%;
}
.row.no-gutter .col-5 {
  width: 5%;
  margin: 0;
}
@media all and (min-width: 768px) {
  .row {
    margin-left: -2%;
  }
  .row .col-100 {
    width: 98%;
    margin-left: 2%;
  }
  .row.no-gutter .col-100 {
    width: 100%;
    margin: 0;
  }
  .row .col-95 {
    width: 93%;
    margin-left: 2%;
  }
  .row.no-gutter .col-95 {
    width: 95%;
    margin: 0;
  }
  .row .col-90 {
    width: 87.99999999999999%;
    margin-left: 2%;
  }
  .row.no-gutter .col-90 {
    width: 90%;
    margin: 0;
  }
  .row .col-85 {
    width: 82.99999999999999%;
    margin-left: 2%;
  }
  .row.no-gutter .col-85 {
    width: 85%;
    margin: 0;
  }
  .row .col-80 {
    width: 78%;
    margin-left: 2%;
  }
  .row.no-gutter .col-80 {
    width: 80%;
    margin: 0;
  }
  .row .col-75 {
    width: 73%;
    margin-left: 2%;
  }
  .row.no-gutter .col-75 {
    width: 75%;
    margin: 0;
  }
  .row .col-66 {
    width: 64.66666666666666%;
    margin-left: 2%;
  }
  .row.no-gutter .col-66 {
    width: 66.66666666666666%;
    margin: 0;
  }
  .row .col-60 {
    width: 58%;
    margin-left: 2%;
  }
  .row.no-gutter .col-60 {
    width: 60%;
    margin: 0;
  }
  .row .col-50 {
    width: 48%;
    margin-left: 2%;
  }
  .row.no-gutter .col-50 {
    width: 50%;
    margin: 0;
  }
  .row .col-40 {
    width: 38%;
    margin-left: 2%;
  }
  .row.no-gutter .col-40 {
    width: 40%;
    margin: 0;
  }
  .row .col-33 {
    width: 31.333333333333332%;
    margin-left: 2%;
  }
  .row.no-gutter .col-33 {
    width: 33.333333333333336%;
    margin: 0;
  }
  .row .col-25 {
    width: 23%;
    margin-left: 2%;
  }
  .row.no-gutter .col-25 {
    width: 25%;
    margin: 0;
  }
  .row .col-20 {
    width: 18%;
    margin-left: 2%;
  }
  .row.no-gutter .col-20 {
    width: 20%;
    margin: 0;
  }
  .row .col-15 {
    width: 13%;
    margin-left: 2%;
  }
  .row.no-gutter .col-15 {
    width: 15%;
    margin: 0;
  }
  .row .col-10 {
    width: 8%;
    margin-left: 2%;
  }
  .row.no-gutter .col-10 {
    width: 10%;
    margin: 0;
  }
  .row .col-5 {
    width: 3%;
    margin-left: 2%;
  }
  .row.no-gutter .col-5 {
    width: 5%;
    margin: 0;
  }
  .row .tablet-100 {
    width: 98%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-100 {
    width: 100%;
    margin: 0;
  }
  .row .tablet-95 {
    width: 93%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-95 {
    width: 95%;
    margin: 0;
  }
  .row .tablet-90 {
    width: 87.99999999999999%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-90 {
    width: 90%;
    margin: 0;
  }
  .row .tablet-85 {
    width: 82.99999999999999%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-85 {
    width: 85%;
    margin: 0;
  }
  .row .tablet-80 {
    width: 78%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-80 {
    width: 80%;
    margin: 0;
  }
  .row .tablet-75 {
    width: 73%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-75 {
    width: 75%;
    margin: 0;
  }
  .row .tablet-66 {
    width: 64.66666666666666%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-66 {
    width: 66.66666666666666%;
    margin: 0;
  }
  .row .tablet-60 {
    width: 58%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-60 {
    width: 60%;
    margin: 0;
  }
  .row .tablet-50 {
    width: 48%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-50 {
    width: 50%;
    margin: 0;
  }
  .row .tablet-40 {
    width: 38%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-40 {
    width: 40%;
    margin: 0;
  }
  .row .tablet-33 {
    width: 31.333333333333332%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-33 {
    width: 33.333333333333336%;
    margin: 0;
  }
  .row .tablet-25 {
    width: 23%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-25 {
    width: 25%;
    margin: 0;
  }
  .row .tablet-20 {
    width: 18%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-20 {
    width: 20%;
    margin: 0;
  }
  .row .tablet-15 {
    width: 13%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-15 {
    width: 15%;
    margin: 0;
  }
  .row .tablet-10 {
    width: 8%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-10 {
    width: 10%;
    margin: 0;
  }
  .row .tablet-5 {
    width: 3%;
    margin-left: 2%;
  }
  .row.no-gutter .tablet-5 {
    width: 5%;
    margin: 0;
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.modal .modal-mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal .modal-inner {
  background-color: #fff;
  border-radius: 5px;
  width: 93.75%;
  min-height: 100px;
  margin: 150px auto 0;
  position: relative;
  z-index: 2;
}
.modal .modal-close {
  background: url('../../../assets/imgs/modal/close.png') no-repeat 0 center;
  background-size: contain;
  width: 43px;
  height: 35px;
  position: absolute;
  top: -17px;
  right: 0;
}
